// color 
$blackColor: #000;
$whiteColor: #fff;
$paraBlackColor: rgba(0, 0, 0, 0.6);
$paraWhiteColor: rgba(225, 225, 225, 0.6);
$anchorBlackColor: rgba(0, 0, 0, 0.8);
$btnColor: #C9453B;
$starColor: #FFC700;
$locationColor: #FC1200;
$dotsColor: rgba(201, 69, 59, 1);
$footerColor: rgba(38, 148, 153, 0.04);

// font family
$primaryFontfamily: "Roboto";
$secoundryFontfamily: "Gelasio";
$logoFontfamily: "Ribeye";

// fontsize 
$fontsizeXX-Large: 65px;
$fontsizeX-Large: 43px;
$fontsize-Large: 24px;
$fontsize-Medium: 20px;
$fontsize-Small: 18px;
$fontsizeX-Small: 16px;

// linehheight 
$lineheight-XXL: 78px;
$lineheight-XL: 60px;
$lineheight-L: 36px;
$lineheight-M: 30px;
$lineheight-S: 29px;
$lineheight-XS: 24px;

// other var
$borderRadiusMedium: 10px;
$z-Index: 11;
$padding-btn: 14px 35px 13px 36px;
$margin-XL-T-B: 140px 0;
$margin-XL-T-B-2: 100px 0;
$margin-XL-T-B-3: 60px 0;
$margin-XL-T-B-4: 40px 0;
$margin-XL-T-B-5: 30px 0;

// responsive var

// $xxl: 1400px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;